{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 *
 * @see template_preprocess_template_directory()
 *
 * @ingroup themeable
 */
#}
<section id="slider">
    GRACIAS
</section>