{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 *
 * @see template_preprocess_template_directory()
 *
 * @ingroup themeable
 */
#}
<section id="slider">
    <h3>Un nuevo</h3>
    <h4>ESTILO DE VIDA</h4>
    <h5>está por comenzar</h5>
    <a class="volver" href="/">Pronto nos comunicaremos contigo</a>
    <div class="logo-bambu"></div>
</section>